@font-face {
    font-family: "Peyda";
    src: url("./font/PeydaWebFaNum-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "Peyda";
    src: url("./font/PeydaWebFaNum-Medium.woff2") format("woff2");
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    flex-direction: column;
    gap: 30px;
    font-family: "Peyda", sans-serif;
    background: #eee;
}

#main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50%;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.tabs-btn {
    flex: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    width: 200px;
    height: 50px;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.2rem;
    transition: .3s ease;
}

.btn.active, .btn:hover {
    background-color: rgb(11, 168, 71);
    color: #fff;
    box-shadow: 0 0 15px -7px #000;
}

.tabs-content {
    flex-grow: 1;
    position: relative;
}

.content {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: .3s ease;
}

.content.active {
    position: relative;
    opacity: 1;
}

.content img {
    width: 100%;
}